/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body basics */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
  padding: 40px 20px;
}

/* p Padding */
p {
	padding: 10px;
}

/* Container for layout */
.container {
  max-width: 1000px;
  margin: auto;
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #9808c9;
  box-shadow: 0 0 20px rgba(188, 19, 254, 0.2);
  text-align: center;
}

/* Headings */
h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid #9808c9;
  display: inline-block;
  text-align: center;
}

h2{
  margin-top: 30px;
  padding-left: 15px;
  border-bottom: 4px solid #9808c9;
  color: #ffffff;
}

/* Make links inside headers white */
h3 a {
  color: #ffffff;
  text-decoration: none;
}

/* Content Boxes */
.content-box {
  margin: 20px 0;
  padding: 20px;
  background: rgba(188, 19, 254, 0.05); 
  border: 1px solid rgba(188, 19, 254, 0.3);
  border-radius: 8px;
}

/* Paragraphs */
p {
  margin-bottom: 15px;
}

/* Navigation bar */
nav {
  display: inline-block;
  background: #333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: left;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* Button Style */

.btn {
  display: inline-block;
  background-color: #9808c9;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background-color: #bc13fe;
  box-shadow: 0 0 10px rgba(188, 19, 254, 0.6);
}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
}
